<?xml version="1.0" encoding="UTF-8"?><exp:Export xmlns:exp="http://www.layer7tech.com/ws/policy/export" xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy" Version="3.0">
    <exp:References>
        <IncludedPolicyReference RefType="com.l7tech.console.policy.exporter.IncludedPolicyReference" guid="08f13d5a-79ce-40de-b4fc-11119b315466" included="true" name="testA service definitions" soap="false" type="INCLUDE_FRAGMENT">
            <wsp:Policy xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy">
                <wsp:All wsp:Usage="Required">
                    <L7p:AuditDetailAssertion>
                        <L7p:Detail stringValue="Policy Fragment: testA service definitions"/>
                        <L7p:LoggingOnly booleanValue="true"/>
                    </L7p:AuditDetailAssertion>
                    <L7p:SetVariable>
                        <L7p:Base64Expression stringValue="aHR0cDovL3d3dy5nb29nbGUuY29t"/>
                        <L7p:VariableToSet stringValue="backend-url"/>
                    </L7p:SetVariable>
                </wsp:All>
            </wsp:Policy>
        </IncludedPolicyReference>
    </exp:References>
    <wsp:Policy xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy">
        <wsp:All wsp:Usage="Required">
            <L7p:Include>
                <L7p:PolicyGuid stringValue="08f13d5a-79ce-40de-b4fc-11119b315466"/>
            </L7p:Include>
            <L7p:HardcodedResponse>
                <L7p:Base64ResponseBody stringValue="ewoiYmFja2VuZCI6IiR7YmFja2VuZC11cmx9Igp9"/>
                <L7p:ResponseContentType stringValue="application/json; charset=UTF-8"/>
            </L7p:HardcodedResponse>
        </wsp:All>
    </wsp:Policy>
</exp:Export>
