<?xml version="1.0" encoding="UTF-8"?><exp:Export xmlns:exp="http://www.layer7tech.com/ws/policy/export" xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy" Version="3.0">
    <exp:References>
        <IDProviderReference RefType="com.l7tech.console.policy.exporter.IdProviderReference">
            <GOID>0000000000000000fffffffffffffffe</GOID>
            <Name>Internal Identity Provider</Name>
            <Props>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGphdmEgdmVyc2lvbj0iMS43&#13;
LjBfNjciIGNsYXNzPSJqYXZhLmJlYW5zLlhNTERlY29kZXIiPgogPG9iamVjdCBjbGFzcz0iamF2&#13;
YS51dGlsLkhhc2hNYXAiPgogIDx2b2lkIG1ldGhvZD0icHV0Ij4KICAgPHN0cmluZz5hZG1pbkVu&#13;
YWJsZWQ8L3N0cmluZz4KICAgPGJvb2xlYW4+dHJ1ZTwvYm9vbGVhbj4KICA8L3ZvaWQ+CiA8L29i&#13;
amVjdD4KPC9qYXZhPgo=</Props>
            <TypeVal>1</TypeVal>
        </IDProviderReference>
    </exp:References>
    <wsp:Policy xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy">
        <wsp:All wsp:Usage="Required">
            <L7p:SslAssertion/>
            <L7p:HttpBasic/>
            <L7p:Authentication>
                <L7p:IdentityProviderOid goidValue="0000000000000000fffffffffffffffe"/>
            </L7p:Authentication>
            <L7p:GatewayManagement/>
        </wsp:All>
    </wsp:Policy>
</exp:Export>
